{% extends 'mv/base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'mv/search.css' %}">
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            {% if lst_mv %}
                <h5 class="text-light">Kết quả tìm kiếm cho <strong>" {{ query }} "</strong></h5>
            {% else %}
                <h5 class="text-light">Không tìm thấy kết quả cho <strong>" {{ query }} "</strong></h5>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for mv in lst_mv %}
            <div class="col-sm-4" class="mvBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="mvBox">
                    <a href="{% url 'mv:detail_mv' mv.slug %}">
                        <div class="img-mv">
                            <img class="img-fluid" src="{{ mv.img_MV.url }}" alt="">
                            <div class="layer2"></div>
                            <div class="eye"><i class="far fa-eye"></i></div>
                            <div class="heart"><i class="fa fa-thumbs-o-up" aria-hidden="true">{{ total_likes }}</i>
                                <p class="total-like">{{ mv.likes.all.count }}</p></div>
                        </div>
                    </a>
                    <div class="content-mvBox">
                        <h5><a class="title" href="{% url 'mv:detail_mv' mv.slug %}">{{ mv.name_MV }}</a></h5>
                        <p>{{ mv.singer_MV }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}